extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/section.css')

block content
    h1 RAYONS
    p
        a(href='/users/signout') Sign Out

    div#wishes
        wish-item(v-for="wish in wishesSelected" v-bind:wish="wish")
        currentwish-item(v-bind:currentWish="currentWish")
        products-item(v-for="product in currentWish.products" v-bind:wish="currentWish" v-bind:product="product")

    a(href='/wishlist') Revenir a la wishlist

block append script
    script.
        wishGroups = JSON.parse('#{ wishGroups }'.replace(/&quot;/g,'"'));
        var currentWish = null;
        var pcurrentWish = {group : 3, wish: 0}
    script(src="/javascripts/section.js")