extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/section.css')

block content
    h1 RAYONS
    p
        a(href='/users/signout') Sign Out

    div#wishgroups
        wishgroup-item(v-for="wishgroup in wishGroups" v-bind:wishgroup="wishgroup")

    a(href='/wishlist') Revenir a la wishlist

block append script
    script.
        wishGroups = JSON.parse('#{ wishGroups }'.replace(/&quot;/g,'"'));
    script(src="/javascripts/section.js")
