body {
  font-size: 14px;
}

a {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration:none;
  color:black;
}

@font-face {
  font-family: gunny;
  src: url('/static/fonts/gnyrwn971.ttf');
}

.left{
  float:left;
}
.right{
  float:right;
}
