body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration:none;
  color:black;
}
a:hover {
  text-decoration:none;
  color:black;
}

#content{
	padding : 50px;
  padding-bottom: 100px;
}

.left{
  float:left;
}
.right{
  float:right;
}