extends layout

block append header
    div.right
        a.connectRegister(href='/users/loginRegister') Se connecter S'inscrire

block content
    .container
      .row
        .col-md-4
            img(src="/images/caddie.jpg")
        .col-md-8
            span Faites vos courses comme à la maison #{user}