doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block script
        script(src="/javascripts/jQuery.slim.min.js")
        script(src="https://unpkg.com/vue/dist/vue.js")