extends ../layout


block content
    h1 Page Connexion Inscription
    form(action='/users/login', method='POST')
            input(type='email', name='username' placeholder='Email',required, autofocus)
            input(type='password', name='password', placeholder='Password', required)
            button(type='submit') Login
            span.clearfix
    form(action='/users/register', method='POST')
            input(type='email', name='username', placeholder='Email',required, autofocus)
            input(type='password', name='password', placeholder='Password', required)
            button(type='submit') Register
    #message
            if message
                .error-message #{message}
