extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/wishList.css')

block content
    h1 WHISLIST PAGE
    h2 Vous êtes connecté
    p Email : #{user._id}
    p
        a(href='/users/signout') Sign Out

    div#wishgroups
        wishgroup-item(v-for="wishGroup in wishGroups" v-bind:wishGroup="wishGroup")
        input(v-model="newWishGroupText" v-on:keyup.enter="addNewWishGroup" placeholder="Add a wishGroup")

block append script
    script.
        wishGroups = JSON.parse('#{ wishGroups }'.replace(/&quot;/g,'"'));
    script(src="/javascripts/wishList.js")
