extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/wishlist.css')

block append header
    span #{user._id}
    a(href='/users/signout') Sign Out

block content

    div#wishgroups
        wishgroup-item(v-for="(wishgroup, wishgroupIndex) in wishGroups" v-bind:wishgroups="wishGroups" v-bind:wishgroup="wishgroup" v-bind:wishgroupindex="wishgroupIndex" )
        input(v-model="newText" v-on:keyup.enter="addWishGroup" placeholder="Add a wishGroup")

    a(href='/section') Passer aux rayons
block append script
    script.
        wishGroups = JSON.parse('#{ wishGroups }'.replace(/&quot;/g,'"'));
        selectedWishes = JSON.parse('#{ selectedWishes }'.replace(/&quot;/g,'"'));
        var wishGroupsLength = wishGroups.length;
        for(var i = 0; i < wishGroupsLength; i++ ) {
            var wishGroup = wishGroups[i];
            var wishGroupLength = wishGroup.wishes?wishGroup.wishes.length:0;
            for(var j = 0; j < wishGroupLength; j++ ) {
                wish = wishGroups[i].wishes[j];
                wish.products = [];
                wish.product = {};
                wish.productInfos = {};
                wish.selected = selectedWishes[wishGroup.id]?selectedWishes[wishGroup.id][wish.id]?true:false:false;
            }
        }
    script(src="/javascripts/wishlist.js")
