extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/confirmation.css')

block content

    span Felicitation, vous pouvez allez retirer votre commande a Auchan Balma le :
    div.retrait 

block append script
    script.
        var date = new Date('#{transactionDateTime}');
        $('.retrait').text(date);