extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/confirmation.css')

block content

    span Felicitation, vous pouvez allez retirer votre commande a Auchan Balma à xxx heures

block append script