extends ../layout

block append css
    link(rel='stylesheet', href='/stylesheets/withdraw.css')

block content

    div#slots
        <i v-show="loading" class="text-center fa fa-spinner fa-spin fa-5x" style="width: 100%;"></i>
        <i v-show="loading" class="text-center" style="width: 100%;display: inline-block;">Nous chargeons les horaires de retraits disponibles</i>
        div
            .container-fluid
                .row.no-gutters
                    day-item(v-for="(day, dayKey, dayIndex) in daySlots" v-bind:day="day" v-bind:daykey="dayKey" v-bind:dayindex="dayIndex" v-on:select_slot="selectSlot" style="min-width:150px;")


        a(href='/basket')
            button.btn.btn-primary.left(type="button") Revenir au panier
        a(href='#' @click="confirmSlot")
            button.btn.btn-success.right(type="button" v-bind:disabled="disableNext") {{textNext}}

block append script
    script.
      
    script(src="/javascripts/withdraw.js")